@using SmartHint_API.Models
@model List<Cliente>

<!DOCTYPE html>
<html>
    <head>
        <title>Editar cliente</title>
        <link rel="stylesheet" href="/css/criar.css" />
    </head>
    <body>
        
    </body>
</html>